<header class="site-header">
  <div class="site-container site-header__inner">
    <%= link_to "Weronika Piotrowska", root_path, class: "site-logo" %>

    <nav class="site-nav" aria-label="Main navigation">
      <%= link_to "About", about_path, class: "site-nav__link" %>
      <%= link_to "Projects", projects_path, class: "site-nav__link" %>
      <%= link_to "Experience", experience_path, class: "site-nav__link" %>
      <%= link_to "Contact", contact_path, class: "site-nav__link" %>
    </nav>
  </div>
</header>
