<header class="site-header">
  <div class="site-container site-header__inner">
    <%= link_to t("app.owner_name"), root_path, class: "site-logo" %>

    <nav class="site-nav" aria-label="<%= t('meta.navigation_aria_label') %>">
      <%= link_to t("navigation.about"), about_path, class: "site-nav__link" %>
      <%= link_to t("navigation.projects"), projects_path, class: "site-nav__link" %>
      <%= link_to t("navigation.experience"), experience_path, class: "site-nav__link" %>
      <%= link_to t("navigation.contact"), contact_path, class: "site-nav__link" %>
    </nav>
  </div>
</header>
