<%= form_with model: [:admin, experience], class: "admin-form" do |f| %>
  <% if experience.errors.any? %>
    <div class="admin-form-errors">
      <h3>Please fix the following errors:</h3>
      <ul>
        <% experience.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="admin-form__group">
    <%= f.label :position, class: "admin-form__label" %>
    <%= f.text_field :position, class: "admin-form__input" %>
  </div>

  <div class="admin-form__group">
    <%= f.label :company, class: "admin-form__label" %>
    <%= f.text_field :company, class: "admin-form__input" %>
  </div>

  <div class="admin-form__group">
    <%= f.label :start_date, class: "admin-form__label" %>
    <%= f.date_field :start_date, class: "admin-form__input" %>
  </div>

  <div class="admin-form__group">
    <%= f.label :end_date, class: "admin-form__label" %>
    <%= f.date_field :end_date, class: "admin-form__input" %>
  </div>

  <div class="admin-form__group">
    <%= f.label :description, class: "admin-form__label" %>
    <%= f.text_area :description, rows: 8, class: "admin-form__textarea" %>
  </div>

  <div class="admin-form__actions">
    <%= f.submit "Save", class: "admin-button admin-button--primary" %>
    <%= link_to "Back", admin_experiences_path, class: "admin-button" %>
  </div>
<% end %>
